div {
    display: inline-block;
    padding: 5px 15px;
}

body {
    background-color: #deb887;
    text-align: center;
    margin: 80px 200px;
}

.primeiroParagrafo {
width: 300px;
height: 20px;
}

.segundoParagrafo {
width: 300px;
height: 450px;
}

.terceiroParagrafo {
width: 300px;
height: 20px;
}